/* .parent{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}
.parent div{
    width: 400px;;
    height: 400px;
    border-radius: 200px;
    background-image:url(image/download.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-position: center;

}
 */


/* This below code is Anas */
/* .parent {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: 30px 50px;
    
  }
  .parent div {
    width: 200px;
    height: 200px;
    background-image: url("https://img.freepik.com/free-photo/mystery-box-with-gifts-concept_23-2150063190.jpg?w=900&t=st=1705754008~exp=1705754608~hmac=b98887798585a5b6b3425c58c0f490b53b1cbc12186991a016778e519979ffdc");
    background-size: cover;
    cursor: pointer;
    border-radius: 50%;
  } */

  .calculator{
    width: 300px;
    margin: 20px auto;
background-color: rgb(58, 25, 25);
    border: 2px solid black;
    padding: 10px;
}
.disp input{
    width: 90%;
    padding: 10px;
    font-size: 1.2em;
    background-color: lightgrey;
    border: none;
    outline: none;
    text-align: right;
}
.btnParent{
    text-align: center;

}
.btnParent button{
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.5em;
    margin: 5px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.btnParent button:hover{
    background-color: orange;
    color: black;
}